    body {
	background-color: #f8fafc;
	 overflow-x:hidden ;
		
	
}

.border1{
	position: relative;
	left: 0;
	top: 279px;
	
	
}

.awge{
	position: absolute;
	top: 0;
}


.border2{
	position: relative;
	left: 0px;
	top: -286px;
	
}

.awge1{
	position: absolute;
	
}
.awge2{
	position: relative;
	top: -300px;
	left: 640px;
}

.awge3{
	position: relative;
	top: -340px;
}

.name{
	position: absolute;
	top: -50px;
	left: 620px;
}




.crt::before {
	content: " ";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
  }
  
  @keyframes flicker {
	0% {
	opacity: 0.27861;
	}
	5% {
	opacity: 0.34769;
	}
	10% {
	opacity: 0.23604;
	}
	15% {
	opacity: 0.10626;
	}
	20% {
	opacity: 0.18128;
	}
	25% {
	opacity: 0.10626;
	}
	30% {
	opacity: 0.18128;
	}
	35% {
	opacity: 0.23604;
	}
  }
  
  .crt::after {
	content: " ";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	animation: flicker 0.15s infinite;
  }
  

.head h1{
    text-align: center;
    font-size: 50px ;
}
.icon {
	position: absolute;
	top: 50px;
	left: 1110px;
}
.icons {
	position: absolute;
	top: 50px;
	left: 565px;
}
.cd1 {
	position: absolute;
	top: 140px;
	left: 565px;
}
.cd2 {
	position: absolute;
	top: 140px;
	left: 700px;
}
.cd3 {
	position: absolute;
	top: 140px;
	left: 840px;
}
.cd4 {
	position: absolute;
	top: 140px;
	left: 989px;
}
.dg1 {
	position: absolute;
	top: 270px;
	left: 500px;
}
.blackcat{
	position: relative;
	top: -611px;
	left: 640px;
	border: 5px;
	border-color: black;
	border-style: dashed;
	
}
.poke {
	position: absolute;
	top: 400px;
	left: 500px;
}		
.main{
	position: relative;
	top: -600px;
}
.me{
	position: absolute;
	top: -450px;
	left: 350px;
}
.me h1 {
	margin: 0px;
	font-size: 25px	;
}
.node{
	position: absolute;
	top:-450px;
	left: 470px;
}
.node h1 {
	margin: 0px;
	font-size: 25px	;
	position: absolute;
	top: 120px;
	left: 43px;
}
.map{
	position: absolute;
	top: -310px;
	left: 350px;
}
.map h1 {
	margin: 0px;
	font-size: 25px	;
	position: absolute;
	top: 80px;
	left: -20px;
}
.schematic{
	position: absolute;
	top: -300px;
	left: 520px;
}
.schematic h1 {
	margin: 0px;
	font-size: 25px	;
	position: absolute;
	top: 70px;
	left: -20px;
}
.media{
	position: absolute;
	top:-511px;
	left:759px;
}